body{
    margin: 0;            /* removes google chrome's default margin and just fit on screen*/                  
}

.container{
    background:  hsl(30, 38%, 92%);
    display: grid;
    height: 100vh;
    grid-template-columns: 1.8fr 1.3fr 1.3fr 1.8fr;
    grid-template-rows: 0.9fr 2fr 1fr;
    grid-template-areas:
    "topspace topspace topspace topspace"
    "leftspace image content1 rightspace"
    "bottomspace bottomspace bottomspace bottomspace"
}

#topspace{
    background:  hsl(30, 38%, 92%);
    grid-area:topspace;
}

#leftspace{
    background:  hsl(30, 38%, 92%);
    grid-area:leftspace;
}

#image{
    background: hsl(30, 38%, 92%);
    grid-area:image;
}

#image > img {   /* Make Image Fit on CSS GRID */
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    display: block;     /* Removes white space under image */
    border-radius: 15px 0px 0px 15px;   /* For rounded corners */
}

/* where content starts */

#content{
    background: hsl(0, 0%, 100%);
    grid-area: content1 ;
    border-radius: 0px 15px 15px 0px;
}

.container2{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
    min-width: 0;
    min-height: 0;
    grid-template-areas: 
    "cat cat"
    "title title"
    "desc desc"
    "price bprice"
    "button button";
}

#category{
    background:hsl(0, 0%, 100%);
    grid-area: cat;
}

#category > p{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

#title{
    background: hsl(0, 0%, 100%);
    grid-area: title;
}

#title > p {
    margin-top: 10px;
    margin-left: 10px;
    line-height: 30px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    color: hsl(212, 21%, 14%);
}

#description{
    background: hsl(0, 0%, 100%);
    grid-area: desc;
}

#description > p{
    margin-top: -5px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

#price{
    background: hsl(0, 0%, 100%);
    grid-area: price;
}

#price > p{
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 32px;
    color: hsl(158, 36%, 37%);
}

#bprice{
    background: hsl(0, 0%, 100%);
    grid-area: bprice;
}

#bprice > p{
    margin-left: 24px;
    margin-top: 17px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

#button{
    background: hsl(0, 0%, 100%);
    grid-area: button;
}

#button > button{
    margin-top: -10px;
    margin-left: 10px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    width: 237px;
    padding: 15px;
    border-radius: 7px;
    cursor: pointer;
}

#button > button:hover {
    background-color: hsl(158, 47%, 18%);
}

button span {
    margin-top: -8px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
}
/* where content ends */

#rightspace{
    background:  hsl(30, 38%, 92%);
    grid-area:rightspace;
}

#bottomspace{
    background:  hsl(30, 38%, 92%);
    grid-area:bottomspace;
}

@media only screen and (hover: none) and (pointer: coarse){     /* For Mobile View */
    body{
        background: hsl(30, 38%, 92%);
    }
    .mobile-view{
        display: none;
    }
    .container{
        background: hsl(30, 38%, 92%);
        display: grid;
        grid-template-columns: 5fr 90fr 5fr;
        grid-template-rows: 4fr 40% 80fr .2fr;
        grid-template-areas: 
        "topspace topspace topspace"
        "leftspace image rightspace"
        "leftspace content1 rightspace"
        "bottomspace bottomspace bottomspace";
     }

     #image > img {   /* Make Image Fit on CSS GRID */
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        display: block;     /* Removes white space under image */
        border-radius: 15px 15px 0px 0px;   /* For rounded corners */
    }
    /* where content starts */

    #content{
        background: hsl(0, 0%, 100%);
        grid-area: content1 ;
        border-radius: 0px 0px 15px 15px;
    }

    .container2{
        background: hsl(30, 38%, 92%);
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
        min-width: 0;
        min-height: 0;
        grid-template-areas: 
        "cat cat"
        "title title"
        "desc desc"
        "price bprice"
        "button button";
    }

    #title > p {
        margin-top: 5px;
        margin-left: 10px;
        line-height: 30px;
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 32px;
        color: hsl(212, 21%, 14%);
    }

    #description > p{
        margin-top: -10px;
        margin-left: 10px;
        font-family: 'Montserrat', sans-serif;
        line-height: 25px;
        font-weight: 500;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
    }

    #price > p{
        margin-top: 18px;
        margin-left: 10px;
        font-family: 'Fraunces';
        font-weight: 700;
        font-size: 32px;
        color: hsl(158, 36%, 37%);
    }
    
    #bprice > p{
        margin-left: 10px;
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-decoration: line-through;
        color: hsl(228, 12%, 48%);
    }
    
    #button > button{
        margin-top: -15px;
        margin-left: 10px;
        border: none;
        background-color: hsl(158, 36%, 37%);
        width:95%;
        padding: 15px;
        border-radius: 7px;
        cursor: pointer;
    }

    /* where content ends */
}

