body{
    margin: 0;            /* removes google chrome's default margin and just fit on screen*/                  
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.8fr 1.3fr 1.3fr 1.8fr;
    grid-template-rows: 0.9fr 2fr 1fr;
    grid-template-areas:
    "topspace topspace topspace topspace"
    "leftspace image content1 rightspace"
    "bottomspace bottomspace bottomspace bottomspace"
}

#topspace{
    background:  hsl(30, 38%, 92%);
    grid-area:topspace;
}

#leftspace{
    background:  hsl(30, 38%, 92%);
    grid-area:leftspace;
}

#image{
    background: hsl(30, 38%, 92%);
    grid-area:image;
}

#image > img {   /* Make Image Fit on CSS GRID */
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    display: block;     /* Removes white space under image */
    border-radius: 15px 0px 0px 15px;   /* For rounded corners */
}

#content{
    background: White: hsl(0, 0%, 100%);
    grid-area:content1;
}

#rightspace{
    background:  hsl(30, 38%, 92%);
    grid-area:rightspace;
}

#bottomspace{
    background:  hsl(30, 38%, 92%);
    grid-area:bottomspace;
}

@media only screen and (hover: none) and (pointer: coarse){     /* For Mobile View */

    html,body
    {
        width: 100%;
        height: 100%;                 /* To remove unnecessary bottom white space */
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    body {
        position: relative;          /* To remove unnecessary bottom white space */
      }
      
    .container{
        display: grid;
        width: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0fr 1fr 2fr 0fr 0.5fr;
        grid-template-areas: 
        "topspace"
        "leftspace"
        "image"
        "content1"
        "rightspace"
        "bottomspace";
    }
}

